*.py[cod]

# Packages
*.egg*
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Unit test / coverage reports
.coverage*
report.xml
.tox
.venv
htmlcov*
result_dump
run_*

# Editors
*~
.*.swp
.*sw?
.#*
.*

# Desktop Service Store
*.DS_Store


