####################################################################
# AMD64 (32-bit) FSF's gcc 4.1 config file 
# Config file for CPU2006 int base only
#####################################################################

ignore_errors = yes
tune          = base
size	      = ref
ext           = x32_gcc_cern
output_format = asc
reportable    = 1
teeout        = yes
teerunout     = yes

default=default=default=default:
#####################################################################
#
# Compiler selection
#
#####################################################################
CC           = gcc -m32
CXX          = g++ -m32
FC           = gfortran -m32

#####################################################################
# Optimization
#####################################################################

## Base is low opt
default=base=default=default:
COPTIMIZE    = -O2 -fPIC -pthread
CXXOPTIMIZE  = -O2 -fPIC -pthread
FOPTIMIZE    = -O2 -fPIC -pthread

notes0100= C base flags: -O2  -fPIC -pthread
notes0110= C++ base flags: -O2  -fPIC -pthread
notes0120= Fortran base flags: -O2  -fPIC -pthread

#####################################################################
# Portability Flags - INT
#####################################################################

400.perlbench=default=default=default:
notes35    = 400.perlbench: -DSPEC_CPU_LINUX_IA32
CPORTABILITY= -DSPEC_CPU_LINUX_IA32

462.libquantum=default=default=default:
notes60= 462.libquantum: -DSPEC_CPU_LINUX
CPORTABILITY= -DSPEC_CPU_LINUX

483.xalancbmk=default=default=default:
CXXPORTABILITY= -DSPEC_CPU_LINUX

#####################################################################
# Portability Flags - FP
#####################################################################
481.wrf=default=default=default:
CPORTABILITY = -DSPEC_CPU_CASE_FLAG -DSPEC_CPU_LINUX
notes0500    = despite compiling with -m32, wrf needs wrf_data_header_size=8
notes0501    = to read the unformatted data input file correctly
notes0502    = This means that the default 64 bit compiler still expects 8 byte
notes0504    = by default (at least with the 20060325 snapshot)
wrf_data_header_size = 8
#####################################################################
